<div class="background"></div>
<div id="particles-js"></div>

<h1 class="animated fadeIn mb-4 white-text mb-4 text-center home-title">CryptoPill</h1>

<div class="container-fluid home-container">
    <div style="height: 100vh">
        <div class="flex-center flex-column">

            <div style="height: 4rem"></div>

            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12 text-center mt-3">
                    <a routerLink="/physician" class="waves-effect waves-light router-card text-center">
                        <div class="flex-center flex-column">
                            <mat-icon class="router-card-icon">healing</mat-icon>
                            <span class="router-card-text">Physician</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-sm-12 text-center mt-3">
                    <a routerLink="/pharmacist" class="waves-effect waves-light router-card text-center">
                        <div class="flex-center flex-column">
                            <mat-icon class="router-card-icon">receipt</mat-icon>
                            <span class="router-card-text">Pharmacist</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>