.scroll-body {
    overflow-y: auto;
    height: 100%;
}

.top-row {
    max-height: 50vh;
}

.medicine-card-container {
    width: 100%;
    overflow-x: auto;
}

.medicine-card {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #EEEEEE;
}

.medicine-card span {
    display: block;
}

.large-icon {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.large-icon:hover {
    color: #880E4F !important;
}

mat-icon.large-icon {
    width: 80px;
    height: 80px;
}

.large-icon {
    font-size: 80px;
}