<app-navbar></app-navbar>

<div class="container mt-4 pb-4">
  <div class="row top-row">
    <div class="col-md-6">
      <div class="card h-100">

        <!--Header-->
        <div class="header pt-3 bg-unique">

          <div class="row d-flex justify-content-center">
            <h3 class="white-text pt-3 pb-3 font-bold">Patients</h3>
          </div>

        </div>
        <!--Header-->

        <div class="card-body p-0 mb-3 scroll-body mx-4 mt-4">
          <mat-nav-list *ngIf="patients">
            <mat-list-item (click)="selectPatient(patient)" *ngFor="let patient of patients">
              <mat-icon mat-list-icon>person</mat-icon>
              <span matLine><strong>{{patient.name}}</strong></span>
              <span matLine>{{patient.num_prescriptions}} prescriptions</span>
              <span matLine>Address: {{patient.address}}</span>
            </mat-list-item>
          </mat-nav-list>
        </div>

      </div>
    </div>

    <div class="col-md-6">

      <!--Form with header-->
      <div class="card h-100">

        <!--Header-->
        <div class="header pt-3 indigo">

          <div class="row d-flex justify-content-center">
            <h3 class="white-text pt-3 pb-3 font-bold">Distribute Opioids</h3>
          </div>

        </div>
        <!--Header-->
        <div class="card-body mx-4 mt-4 flex-center flex-column">

          <div class="row">
            <div class="col">
              <!--Body-->
              <mat-form-field class="w-100">
                <mat-icon matPrefix class="mr-2">battery_std</mat-icon>
                <input matInput placeholder="Name of medicine" [(ngModel)]="newMedicine.name" class="w-100">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-icon matPrefix class="mr-2">battery_std</mat-icon>
                <input matInput placeholder="Number of capsules" [(ngModel)]="newMedicine.capsules" class="w-100">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-icon matPrefix class="mr-2">battery_std</mat-icon>
                <input matInput placeholder="mg/capsule" [(ngModel)]="newMedicine.density" class="w-100">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-icon matPrefix class="mr-2">person</mat-icon>
                <input matInput placeholder="Patient address" [(ngModel)]="newMedicine.patientAddress" class="w-100">
              </mat-form-field>

              <!--Grid row-->
              <div class="row d-flex align-items-center mb-4">

                <!--Grid column-->
                <div class="col text-center">
                  <div class="text-center mt-3">
                    <button type="button" mat-raised-button color="primary" (click)="sendMedicine()">Distribute</button>
                  </div>
                </div>

              </div>
              <!--Grid row-->
            </div>
          </div>

        </div>

      </div>
      <!--/Form with header-->

    </div>
  </div>

  <div *ngIf="selectedPatient" class="row mt-4">
    <mat-card class="w-100">
      <mat-card-title class="text-center">Patient Medication</mat-card-title>

      <mat-card-content class="medicine-card-container">
        <div style="width: auto; white-space: nowrap" class="p-3">
          <mat-card *ngFor="let medicine of medicines" (click)="selectMedicine(medicine)" class="medicine-card waves-effect waves-light">
            <div class="row justify-content-center">
              <i class="fa fa-flask large-icon grey-text"></i>
            </div>

            <div class="row justify-content-center">
              <span class="font-weight-bold text-uppercase p-2">{{medicine.name}}</span>
            </div>

            <div class="row">
              <div class="col-6 p-0 text-left">
                <span>Strength:</span>
              </div>
              <div class="col-6 p-0 text-right">
                <span class="font-weight-bold">{{medicine.density}} mg</span>
              </div>
            </div>

            <div class="row">
              <div class="col-6 p-0 text-left">
                <span>No:</span>
              </div>
              <div class="col-6 p-0 text-right">
                <span class="font-weight-bold">{{medicine.capsules}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-6 p-0 text-left">
                <span>DOI:</span>
              </div>
              <div class="col-6 p-0 text-right">
                <span class="font-weight-bold">{{medicine.doi}}</span>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>